.map-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.map-wrapper .mapboxgl-map {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
}

/* Position the navigation controls in the middle right */
.map-wrapper .mapboxgl-ctrl-group {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
